# Getting data from Public Health England
https://github.com/ScottishCovidResponse/scrc-vis-analytical/tree/master/ClusteringAndImpactAnalysis/data

In [1]:
import os
import sys

module_path = os.path.abspath(os.pardir)
if module_path not in sys.path:
    sys.path.append(module_path)
    
%load_ext autoreload
%autoreload 2

In [2]:
from pathlib import Path
from urllib import parse
import json

import pandas as pd

from stream import generate_streams, test_endpoints, get_token, register, generate_streams_from_urls

## Data streams

In [3]:
with open('../manifest/urls.json') as f:
    urls = json.load(f)
    urls = [url for url in urls if url['name'] == 'phe']

streams = generate_streams_from_urls(urls)
streams[0]

{'urlCode': 'API_PY',
 'endpoint': '/data/?product=phe&component=cumAdmissions&format=long',
 'dataType': 'cum_timeseries',
 'keywords': ['phe', 'uk', 'hospital_admission', 'daily'],
 'description': ''}

In [15]:
test_endpoints(streams)

In [14]:
token = get_token(prod=True)
token

'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYwMzZkMDJkYzg2ZTkzZGZmY2Y0NWE5YSIsInJvbGUiOiJhZG1pbiIsInBlcm1pc3Npb25zIjp7InVzZXIiOnsicmVhZDpvd24iOlsiaWQiXSwidXBkYXRlOmFueSI6WyJwYXNzd29yZCIsInJvbGUiXSwicmVhZDphbnkiOlsiKiJdLCJjcmVhdGU6YW55IjpbIioiXSwiZGVsZXRlOmFueSI6WyIqIl19fSwiaWF0IjoxNjM3NjY5NDA1LCJleHAiOjI1ODQzNTQyMDV9.JaIm_xVYjsa_csQTVtZ4gu1I9JvJRzQjtsiC_H_52Pp5WY30jv1ZtfTobkKLMpqrOESMy8mzLmxvWxf1YaM_mXiyQOUlhMyP5lA2sxvCwNWEV8ht3ac1VZJbmz-Il1lPVZdlQIdbnZ7_j-fvR0neaiBj2e6nhoYUfWtXnlABxE_oQ8V8WvaXydV-BgcCkW9oqCPzQObOw_eeEfiClELKJmXbIokQU6unOZRWd37u-5_y9TWmWhpcD4GLqpHE0APWH5yZglp-VrZqZdDiA7QouQ8y4DTZiukBhM8tEZzA5Jr2Bki9ASHk0WOSCMbNYAah9kQvy_DCpTRq_7tY-xiTlXEYUkWpu4HpEiZD0Pezh4IxflNA7RNTa9-HIoqBVDV9yJ3_NgPHi-L6F60GhsSCcD38ZP7UmpKYRSNsZAUmLmWY_NAj0Ojz4mxdh66hNdfZ9vfOuT5aQRoX2Ax0AsF_8eDZj0LOoVcMdszWC11CwxPwjIUtASM5NYMmhGA4bc7NQEaEXdoe7mQWIieh_qlInyLlOzwffEpoXKvXle2f3M5MZoisbNpZLgijxMgLthG_Xha9vY4cjAzPPvya0n4x9csEYB0X4NP5LqFoZq5F5IwVpvFtk3zt_rElDowTP9JA5a_RUeqfJSo6VlmHomgKB83F-ntM_ZAE8eV-FLKIkSw'

In [16]:
for s in streams:
    register(s, token, prod=True)

---
## Playground

In [29]:
utla_df = pd.read_csv('https://api.coronavirus.data.gov.uk/v2/data?areaType=utla&metric=newCasesByPublishDate&format=csv')
utla_df['nation'] = utla_df['areaCode'].apply(lambda x: x[0])
utla_df = utla_df.query('nation == "E"')
utla_df

,areaCode,areaName,areaType,date,newCasesByPublishDate,nation
0,E06000003,Redcar and Cleveland,utla,2021-11-18,83,E
1,E06000014,York,utla,2021-11-18,147,E
2,E06000050,Cheshire West and Chester,utla,2021-11-18,224,E
3,E08000001,Bolton,utla,2021-11-18,175,E
4,E08000016,Barnsley,utla,2021-11-18,187,E
...,...,...,...,...,...,...
118488,E06000036,Bracknell Forest,utla,2020-04-17,4,E
118489,E06000037,West Berkshire,utla,2020-04-17,2,E
118490,E08000035,Leeds,utla,2020-04-17,41,E
118491,E09000017,Hillingdon,utla,2020-04-17,17,E
118492,E10000012,Essex,utla,2020-04-17,74,E

In [27]:
utla_df['date'].value_counts()

2020-11-28    149
2021-08-24    149
2021-06-02    149
2020-10-01    149
2021-09-24    149
             ...
2020-05-06    148
2020-04-20    147
2020-04-19    147
2020-04-18    147
2020-04-17    146
Name: date, Length: 574, dtype: int64

In [22]:
utla_df.query('areaCode == "E08000001"')

    areaCode areaName areaType        date  cumCasesByPublishDate
3  E08000001   Bolton     utla  2021-11-11                  49139

In [8]:
trust_df = pd.read_csv('https://api.coronavirus.data.gov.uk/v2/data?areaType=nhsTrust&metric=covidOccupiedMVBeds&format=csv')
trust_df

,areaCode,areaName,areaType,date,covidOccupiedMVBeds
0,RT5,Leicestershire Partnership NHS Trust,nhsTrust,2021-11-09,0
1,RT5,Leicestershire Partnership NHS Trust,nhsTrust,2021-11-08,0
2,RT5,Leicestershire Partnership NHS Trust,nhsTrust,2021-11-07,0
3,RT5,Leicestershire Partnership NHS Trust,nhsTrust,2021-11-06,0
4,RT5,Leicestershire Partnership NHS Trust,nhsTrust,2021-11-05,0
...,...,...,...,...,...
118806,RAE,Bradford Teaching Hospitals NHS Foundation Trust,nhsTrust,2020-04-06,3
118807,RAE,Bradford Teaching Hospitals NHS Foundation Trust,nhsTrust,2020-04-05,2
118808,RAE,Bradford Teaching Hospitals NHS Foundation Trust,nhsTrust,2020-04-04,2
118809,RAE,Bradford Teaching Hospitals NHS Foundation Trust,nhsTrust,2020-04-03,1
118810,RAE,Bradford Teaching Hospitals NHS Foundation Trust,nhsTrust,2020-04-02,1

In [10]:
trust_df['areaCode'].nunique()

212

In [12]:
trust_utla_mapping = pd.read_csv('https://raw.githubusercontent.com/ScottishCovidResponse/scrc-vis-analytical/master/ClusteringAndImpactAnalysis/data/trust_utla_mapping.csv', index_col=0)
trust_utla_mapping

    trust_code   geo_code   p_trust     p_geo
1          R0A  E06000049  0.041164  0.085044
2          R0A  E08000002  0.008517  0.033613
3          R0A  E08000003  0.495387  0.767877
4          R0A  E08000004  0.016324  0.043726
5          R0A  E08000005  0.008517  0.027714
..         ...        ...       ...       ...
422        RYJ  E09000027  0.013761  0.085714
423        RYJ  E09000032  0.009939  0.032338
424        RYJ  E09000033  0.201835  0.631579
425        RYJ  E10000015  0.008410  0.006008
426        RYR  E10000032  1.000000  0.460641

[426 rows x 4 columns]

In [13]:
trust_utla_mapping['trust_code'].nunique(), trust_utla_mapping['geo_code'].nunique()

(130, 149)

In [18]:
len([a for a in utla_df['areaCode'].unique() if a[0] == 'E'])

149

In [16]:
trust_utla_mapping['geo_code'].unique()

array(['E06000049', 'E08000002', 'E08000003', 'E08000004', 'E08000005',
       'E08000006', 'E08000007', 'E08000008', 'E08000009', 'E10000017',
       'E06000047', 'E08000023', 'E08000024', 'E06000058', 'E06000059',
       'E10000014', 'E06000046', 'E09000002', 'E09000005', 'E09000010',
       'E09000012', 'E09000014', 'E09000019', 'E09000025', 'E09000026',
       'E09000030', 'E09000031', 'E10000012', 'E09000003', 'E09000009',
       'E09000015', 'E09000017', 'E09000018', 'E10000015', 'E10000030',
       'E10000032', 'E10000027', 'E06000023', 'E06000024', 'E06000025',
       'E06000027', 'E10000008', 'E08000032', 'E06000033', 'E06000034',
       'E09000007', 'E09000033', 'E09000021', 'E09000024', 'E09000027',
       'E09000029', 'E09000032', 'E08000028', 'E08000030', 'E10000028',
       'E06000050', 'E08000015', 'E06000006', 'E08000011', 'E08000012',
       'E08000013', 'E06000032', 'E06000055', 'E06000056', 'E06000011',
       'E06000014', 'E10000023', 'E08000035', 'E10000003', 'E10000019',
       'E10000020', 'E06000022', 'E06000054', 'E06000042', 'E06000060',
       'E10000029', 'E06000036', 'E06000039', 'E06000040', 'E06000041',
       'E06000052', 'E08000014', 'E09000016', 'E08000016', 'E08000034',
       'E08000017', 'E08000018', 'E08000019', 'E10000007', 'E06000017',
       'E06000031', 'E06000045', 'E06000044', 'E06000037', 'E06000038',
       'E10000025', 'E09000004', 'E09000006', 'E09000008', 'E09000011',
       'E09000022', 'E09000023', 'E09000028', 'E10000016', 'E10000031',
       'E06000021', 'E06000012', 'E06000013', 'E10000024', 'E06000026',
       'E08000026', 'E10000018', 'E10000021', 'E08000027', 'E08000031',
       'E06000019', 'E08000001', 'E08000010', 'E06000030', 'E10000013',
       'E10000034', 'E10000006', 'E06000035', 'E08000025', 'E09000013',
       'E09000020', 'E08000037', 'E08000029', 'E06000057', 'E08000021',
       'E08000022', 'E06000015', 'E06000002', 'E06000003', 'E06000004',
       'E06000001', 'E06000010', 'E06000016', 'E10000011', 'E06000007',
       'E08000033', 'E06000018', 'E08000036', 'E06000043', 'E06000009',
       'E06000005', 'E06000008', 'E06000020', 'E06000051'], dtype=object)

In [69]:
# age
age_case_url = 'https://api.coronavirus.data.gov.uk/v2/data?areaType=region&metric=newCasesBySpecimenDateAgeDemographics&format=csv'
age_death_url = 'https://api.coronavirus.data.gov.uk/v2/data?areaType=region&metric=newDeaths28DaysByDeathDateAgeDemographics&format=csv'
age_vaccine_url = 'https://api.coronavirus.data.gov.uk/v2/data?areaType=region&metric=vaccinationsAgeDemographics&format=csv'

# new cases & deaths
case_death_url = 'https://api.coronavirus.data.gov.uk/v2/data?areaType=region&metric=newCasesByPublishDate&metric=newDeaths28DaysByPublishDate&format=csv'

# vaccine
vaccine_url = 'https://api.coronavirus.data.gov.uk/v2/data?areaType=region&metric=cumPeopleVaccinatedFirstDoseByVaccinationDate&metric=cumPeopleVaccinatedSecondDoseByVaccinationDate&metric=cumVaccinationFirstDoseUptakeByVaccinationDatePercentage&metric=cumVaccinationSecondDoseUptakeByVaccinationDatePercentage&format=csv'

In [74]:
df = pd.read_csv(age_case_url)
df.shape

(125400, 8)

In [82]:
df = pd.read_csv(age_death_url)
df.shape
age

(116634, 8)

In [83]:
df = pd.read_csv(age_vaccine_url)
df.shape
df

,areaCode,areaName,areaType,date,age,VaccineRegisterPopulationByVaccinationDate,cumPeopleVaccinatedCompleteByVaccinationDate,newPeopleVaccinatedCompleteByVaccinationDate,cumPeopleVaccinatedFirstDoseByVaccinationDate,newPeopleVaccinatedFirstDoseByVaccinationDate,cumPeopleVaccinatedSecondDoseByVaccinationDate,newPeopleVaccinatedSecondDoseByVaccinationDate,cumVaccinationFirstDoseUptakeByVaccinationDatePercentage,cumVaccinationCompleteCoverageByVaccinationDatePercentage,cumVaccinationSecondDoseUptakeByVaccinationDatePercentage
0,E12000001,North East,region,2021-11-17,12_15,125588.0,546.0,7.0,49020.0,347.0,546.0,7.0,39.0,0.4,0.4
1,E12000001,North East,region,2021-11-17,16_17,59736.0,8484.0,98.0,37043.0,59.0,8484.0,98.0,62.0,14.2,14.2
2,E12000001,North East,region,2021-11-17,18_24,244909.0,150237.0,196.0,174571.0,103.0,150237.0,196.0,71.3,61.3,61.3
3,E12000001,North East,region,2021-11-17,25_29,190759.0,114648.0,113.0,130122.0,79.0,114648.0,113.0,68.2,60.1,60.1
4,E12000001,North East,region,2021-11-17,30_34,197114.0,127812.0,93.0,141588.0,45.0,127812.0,93.0,71.8,64.8,64.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52780,E12000009,South West,region,2020-12-08,70_74,345031.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0
52781,E12000009,South West,region,2020-12-08,75_79,268540.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
52782,E12000009,South West,region,2020-12-08,80_84,174566.0,0.0,0.0,30.0,30.0,0.0,0.0,0.0,0.0,0.0
52783,E12000009,South West,region,2020-12-08,85_89,110324.0,0.0,0.0,13.0,13.0,0.0,0.0,0.0,0.0,0.0
52784,E12000009,South West,region,2020-12-08,90+,65766.0,0.0,0.0,9.0,9.0,0.0,0.0,0.0,0.0,0.0

In [78]:
df[['areaCode', 'areaName', 'date', 'age', 'cumPeopleVaccinatedFirstDoseByVaccinationDate', 'cumPeopleVaccinatedSecondDoseByVaccinationDate', 'cumVaccinationFirstDoseUptakeByVaccinationDatePercentage', 'cumVaccinationSecondDoseUptakeByVaccinationDatePercentage']]

,areaCode,areaName,date,age,cumPeopleVaccinatedFirstDoseByVaccinationDate,cumPeopleVaccinatedSecondDoseByVaccinationDate,cumVaccinationFirstDoseUptakeByVaccinationDatePercentage,cumVaccinationSecondDoseUptakeByVaccinationDatePercentage
0,E12000001,North East,2021-11-17,12_15,49020.0,546.0,39.0,0.4
1,E12000001,North East,2021-11-17,16_17,37043.0,8484.0,62.0,14.2
2,E12000001,North East,2021-11-17,18_24,174571.0,150237.0,71.3,61.3
3,E12000001,North East,2021-11-17,25_29,130122.0,114648.0,68.2,60.1
4,E12000001,North East,2021-11-17,30_34,141588.0,127812.0,71.8,64.8
...,...,...,...,...,...,...,...,...
52780,E12000009,South West,2020-12-08,70_74,6.0,0.0,0.0,0.0
52781,E12000009,South West,2020-12-08,75_79,2.0,0.0,0.0,0.0
52782,E12000009,South West,2020-12-08,80_84,30.0,0.0,0.0,0.0
52783,E12000009,South West,2020-12-08,85_89,13.0,0.0,0.0,0.0
52784,E12000009,South West,2020-12-08,90+,9.0,0.0,0.0,0.0

In [66]:
df = pd.read_csv(vaccine_url)
df['date'].nunique()
df

,areaCode,areaName,areaType,date,cumPeopleVaccinatedFirstDoseByVaccinationDate,cumPeopleVaccinatedSecondDoseByVaccinationDate,cumVaccinationFirstDoseUptakeByVaccinationDatePercentage,cumVaccinationSecondDoseUptakeByVaccinationDatePercentage
0,E12000001,North East,region,2021-11-17,2025389,1856104.0,82.2,75.3
1,E12000001,North East,region,2021-11-16,2024647,1855391.0,82.2,75.3
2,E12000001,North East,region,2021-11-15,2023979,1854743.0,82.2,75.3
3,E12000001,North East,region,2021-11-14,2022903,1854218.0,82.1,75.3
4,E12000001,North East,region,2021-11-13,2022074,1853656.0,82.1,75.2
...,...,...,...,...,...,...,...,...
3100,E12000009,South West,region,2020-12-12,5926,NaN,0.1,NaN
3101,E12000009,South West,region,2020-12-11,3313,NaN,0.1,NaN
3102,E12000009,South West,region,2020-12-10,1970,NaN,NaN,NaN
3103,E12000009,South West,region,2020-12-09,1050,NaN,NaN,NaN
3104,E12000009,South West,region,2020-12-08,302,NaN,NaN,NaN

In [50]:
df.query('areaCode == "E12000001"')['cumVaccinationCompleteCoverageByVaccinationDatePercentage']

0      75.3
1      75.3
2      75.3
3      75.3
4      75.2
       ...
314     0.5
315     0.3
316     0.2
317     0.1
318     0.1
Name: cumVaccinationCompleteCoverageByVaccinationDatePercentage, Length: 319, dtype: float64

In [100]:
from urllib import parse

url = 'https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumAdmissions&format=csv'
# dict()
# urlparse()

'cumAdmissions'

In [101]:
uk_cumAdmissions = "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumAdmissions&format=csv"
uk_cumCasesBySpecimenDate = "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumCasesBySpecimenDate&format=csv"
uk_cumDeaths28DaysByDeathDate = "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumDeaths28DaysByDeathDate&format=csv"
uk_cumPeopleVaccinatedFirstDoseByPublishDate = "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumPeopleVaccinatedFirstDoseByPublishDate&format=csv"
uk_cumPeopleVaccinatedSecondDoseByPublishDate = "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumPeopleVaccinatedSecondDoseByPublishDate&format=csv"
uk_cumPeopleVaccinatedThirdInjectionByPublishDate = "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumPeopleVaccinatedThirdInjectionByPublishDate&format=csv"
uk_newAdmissions = "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=newAdmissions&format=csv"
uk_newCasesBySpecimenDate = "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=newCasesBySpecimenDate&format=csv"
uk_newDeaths28DaysByDeathDate = "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=newDeaths28DaysByDeathDate&format=csv"
uk_newPeopleVaccinatedFirstDoseByPublishDate = "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=newPeopleVaccinatedFirstDoseByPublishDate&format=csv"
uk_newPeopleVaccinatedSecondDoseByPublishDate = "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=newPeopleVaccinatedSecondDoseByPublishDate&format=csv"
uk_newPeopleVaccinatedThirdInjectionByPublishDate = "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=newPeopleVaccinatedThirdInjectionByPublishDate&format=csv"

ltla_cases = "https://api.coronavirus.data.gov.uk/v2/data?areaType=ltla&areaCode=S12000036&metric=cumCasesBySpecimenDate&metric=newCasesBySpecimenDate&format=csv"
ltla_deaths = "https://api.coronavirus.data.gov.uk/v2/data?areaType=ltla&areaCode=S12000036&metric=cumWeeklyNsoDeathsByRegDate&metric=newWeeklyNsoDeathsByRegDate&format=csv"
ltla_vaccination = "https://api.coronavirus.data.gov.uk/v2/data?areaType=ltla&areaCode=S12000036&metric=cumVaccinationFirstDoseUptakeByVaccinationDatePercentage&metric=cumVaccinationSecondDoseUptakeByVaccinationDatePercentage&format=csv"
ltla_vaccinationAgeDemographics = "https://api.coronavirus.data.gov.uk/v2/data?areaType=ltla&areaCode=S12000036&metric=vaccinationsAgeDemographics&format=csv"

In [102]:
urls = [uk_cumAdmissions, uk_cumCasesBySpecimenDate, uk_cumDeaths28DaysByDeathDate, uk_cumPeopleVaccinatedFirstDoseByPublishDate,
        uk_cumPeopleVaccinatedSecondDoseByPublishDate, uk_cumPeopleVaccinatedThirdInjectionByPublishDate, uk_newAdmissions,
        uk_newCasesBySpecimenDate, uk_newDeaths28DaysByDeathDate, uk_newPeopleVaccinatedFirstDoseByPublishDate,
        uk_newPeopleVaccinatedSecondDoseByPublishDate, uk_newPeopleVaccinatedThirdInjectionByPublishDate,
        ltla_cases, ltla_deaths, ltla_vaccination, ltla_vaccinationAgeDemographics]

In [104]:
template = {
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumAdmissions&format=csv",
    "save_to": "phe/cumAdmissions.csv",
    "dataType": "cum_timeseries",
    "keywords": ["phe", "uk", "hospital_admission", "daily"]
}

In [106]:
from pprint import pprint

In [108]:
import json

In [109]:
for url in urls:
    d = template.copy()
    d['url'] = url
    d['save_to'] = f'phe/{dict(parse.parse_qsl(parse.urlsplit(url).query))["metric"]}.csv'
    print(json.dumps(d, indent=4))

{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumAdmissions&format=csv",
    "save_to": "phe/cumAdmissions.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumCasesBySpecimenDate&format=csv",
    "save_to": "phe/cumCasesBySpecimenDate.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumDeaths28DaysByDeathDate&format=csv",
    "save_to": "phe/cumDeaths28DaysByDeathDate.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumPeopleVaccinatedFirstDoseByPublishDate&format=csv",
    "save_to": "phe/cumPeopleVaccinatedFirstDoseByPublishDate.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumPeopleVaccinatedSecondDoseByPublishDate&format=csv",
    "save_to": "phe/cumPeopleVaccinatedSecondDoseByPublishDate.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumPeopleVaccinatedThirdInjectionByPublishDate&format=csv",
    "save_to": "phe/cumPeopleVaccinatedThirdInjectionByPublishDate.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=newAdmissions&format=csv",
    "save_to": "phe/newAdmissions.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=newCasesBySpecimenDate&format=csv",
    "save_to": "phe/newCasesBySpecimenDate.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=newDeaths28DaysByDeathDate&format=csv",
    "save_to": "phe/newDeaths28DaysByDeathDate.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=newPeopleVaccinatedFirstDoseByPublishDate&format=csv",
    "save_to": "phe/newPeopleVaccinatedFirstDoseByPublishDate.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=newPeopleVaccinatedSecondDoseByPublishDate&format=csv",
    "save_to": "phe/newPeopleVaccinatedSecondDoseByPublishDate.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=newPeopleVaccinatedThirdInjectionByPublishDate&format=csv",
    "save_to": "phe/newPeopleVaccinatedThirdInjectionByPublishDate.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=ltla&areaCode=S12000036&metric=cumCasesBySpecimenDate&metric=newCasesBySpecimenDate&format=csv",
    "save_to": "phe/newCasesBySpecimenDate.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=ltla&areaCode=S12000036&metric=cumWeeklyNsoDeathsByRegDate&metric=newWeeklyNsoDeathsByRegDate&format=csv",
    "save_to": "phe/newWeeklyNsoDeathsByRegDate.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=ltla&areaCode=S12000036&metric=cumVaccinationFirstDoseUptakeByVaccinationDatePercentage&metric=cumVaccinationSecondDoseUptakeByVaccinationDatePercentage&format=csv",
    "save_to": "phe/cumVaccinationSecondDoseUptakeByVaccinationDatePercentage.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}
{
    "name": "phe",
    "url": "https://api.coronavirus.data.gov.uk/v2/data?areaType=ltla&areaCode=S12000036&metric=vaccinationsAgeDemographics&format=csv",
    "save_to": "phe/vaccinationsAgeDemographics.csv",
    "dataType": "cum_timeseries",
    "keywords": [
        "phe",
        "uk",
        "hospital_admission",
        "daily"
    ]
}

In [103]:
dfs = [pd.read_csv(url) for url in urls]

In [94]:
dfs[0].head().to_json(orient="records")

'[{"areaCode":"K02000001","areaName":"United Kingdom","areaType":"overview","date":"2021-11-16","cumAdmissions":592429},{"areaCode":"K02000001","areaName":"United Kingdom","areaType":"overview","date":"2021-11-15","cumAdmissions":591543},{"areaCode":"K02000001","areaName":"United Kingdom","areaType":"overview","date":"2021-11-14","cumAdmissions":590710},{"areaCode":"K02000001","areaName":"United Kingdom","areaType":"overview","date":"2021-11-13","cumAdmissions":589909},{"areaCode":"K02000001","areaName":"United Kingdom","areaType":"overview","date":"2021-11-12","cumAdmissions":589138}]'

In [93]:
dfs[0]

      areaCode        areaName  areaType        date  cumAdmissions
0    K02000001  United Kingdom  overview  2021-11-16         592429
1    K02000001  United Kingdom  overview  2021-11-15         591543
2    K02000001  United Kingdom  overview  2021-11-14         590710
3    K02000001  United Kingdom  overview  2021-11-13         589909
4    K02000001  United Kingdom  overview  2021-11-12         589138
..         ...             ...       ...         ...            ...
599  K02000001  United Kingdom  overview  2020-03-27          12842
600  K02000001  United Kingdom  overview  2020-03-26          10613
601  K02000001  United Kingdom  overview  2020-03-25           8683
602  K02000001  United Kingdom  overview  2020-03-24           6598
603  K02000001  United Kingdom  overview  2020-03-23           4880

[604 rows x 5 columns]